@use '../../styles/constants.scss' as const;
@use '../../styles/mixins' as mixin;
@use '../../styles/functions';

.login_form {
  width: 20%;
  margin: 30vh auto auto;
  justify-content: center;
  align-items: center;
}

.submit_button {
  background-color: const.$primary-color;
  width: 80%;
  margin: functions.spacing(1);
}
