@use '../../styles/constants.scss' as const;
@use '../../styles/mixins' as mixin;
@use '../../styles/functions';

.edit_category_form_container {
  .c_tooltip {
    background-color: white;
    opacity: 1;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 20%);
    border-radius: const.$radius;
  }
}

.edit_category_form {
  display: flex;
  flex-direction: column;
  margin: functions.spacing(1);
  width: 22rem;

  .edit_category_input {
    font-size: 1rem;
  }

  .form_buttons {
    margin: functions.spacing(1) 0 0 0;
    display: flex;

    //justify-content: flex-start;

    .cancel_save_buttons {
      display: flex;
      flex: 1 1 auto;
      justify-content: flex-end;

      .save_button {
        margin-left: functions.spacing(1);
      }
    }
  }
}

.delete_subcategory_modal_overlay {
  position: fixed;
  inset: 0;
  background-color: rgb(0 0 0 / 10%);
}

.delete_subcategory_modal_content {
  position: absolute;
  inset: 50% auto auto 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: const.$radius;
  outline: none;
  padding: 0;

  //width: 30rem;
}
