@use '../../styles/constants' as const;
@use '../../styles/functions';

.z_table {
  width: 100%;
  border-spacing: 0;
  font-size: 0.6rem;
  font-weight: 400;

  .z_table_head {
    text-transform: uppercase;
    font-weight: unset;
    text-align: left;
    border: 1px solid const.$page-light-border-color;
    padding: 0 functions.spacing(1);
    border-left: none;
    border-top: none;

    &:last-child {
      border-right: none;
    }

    &[data-type='numeric'] {
      text-align: right;
    }

    &[data-type='other'] {
        text-align: center;
    }

    // .z_sorting_icon {
    //  margin: 0;
    //  font-size: functions.spacing(2);
    // }
  }

  .z_table_cell {
    border: 1px solid const.$page-light-border-color;
    padding: 0 functions.spacing(1);
    border-left: none;
    border-top: none;

    &:last-child {
      border-right: none;
    }

    &[data-type='numeric'] {
      text-align: right;
    }

    &[data-type='other'] {
      text-align: center;
      width: functions.spacing(5);
    }
  }

  .z_table_row {
    // height: 10px;
  }
}

