@use '../../styles/constants' as Const;
@use '../../styles/functions' as Functions;
//
.side_bar {
  background-color: Const.$sidebarBackground;
  min-width: 240px;
  padding: Functions.spacing(1);
  position: relative;

  .z_collapsible_button {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .side_bar_button_icon {
    margin-right: Functions.spacing(1);
  }
}

.side_bar_contracted {
  background-color: Const.$sidebarBackground;
  padding: Functions.spacing(1);
  min-width: 70px;
  width: 0;
  overflow: hidden;
  position: relative;
  
  .side_bar_button_label {
    display: none;
  }

  .z_collapsible_button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleX(-1);
    bottom: 0;
  }

  .add_btn {
    display: none;
  }

  .z_sidebar_button_contracted {
    justify-content: center;
  }

}