.z_main_layout {
  display: flex;
  height: 100vh;

  .z_table {
    flex: 1 1 auto;
    overflow-x: auto;
    overflow-y: visible;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  //.z_table::-webkit-scrollbar {
  //  display: none;
  //}
}
