.z_main_layout {
  display: flex;
  height: 100vh;

  .z_table {
    flex: 1 1 auto;
    overflow: auto visible;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
