@use '../../styles/mixins';
@use '../../styles/constants' as const;
@use '../../styles/functions';

.z_table_expansible_row_name {
  font-weight: bold;
}

%category_expand_button {
  @include mixins.remove-default-button;
  background: none;
}

.category_expand_button_header {
  @extend %category_expand_button;
  font-size: 1rem;
}

.category_expand_button_row{
  @extend %category_expand_button;
}

.z_table_cell_text {
  padding-left: functions.spacing(4);
}
