@use '../../styles/functions' as functions;
@use '../../styles/constants' as constants;
@use '../../styles/constants' as const;

%collapsible-container {
  position: relative;
  container: collapsible-container / inline-size;

  .bank_name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: max-content;
  }

  .amount {
    flex: 1;
    text-align: right;
    padding-right: functions.spacing(2);
  }
}

.collapsible_container {
  @extend %collapsible-container;

  .icon {
    transform: rotate(0);
  }

  .sidebar_button {
    align-items: center;
    line-height: 1rem;

    .edit_icon {
      visibility: hidden;
      opacity: 0.5;
      line-height: 0.5rem;

      &:hover {
        opacity: 1;
      }
    }

    &:hover .edit_icon {
      visibility: visible;
    }

    &:focus-visible .edit_icon {
      visibility: visible;
    }
  }
}

.collapsible_container_contracted {
  @extend %collapsible-container;

  .icon {
    transform: rotate(-90deg);
  }
}

.edit_account_modal_overlay {
  position: fixed;
  inset: 0;
  background-color: rgb(0 0 0 / 10%);
}

.edit_account_modal_content {
  position: absolute;
  inset: 50% auto auto 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: const.$radius;
  outline: none;
  padding: 0;
  width: 31rem;
  z-index: 99;
}
