 @use '../../styles/constants.scss' as const;
 @use '../../styles/functions' as Functions;

.icon {
    font-size: 14px;
    margin-right: 1px;
}

.collapsible_container {
  position: relative;
    .bank_name {
        //margin-left: 25px;
        //margin-right: -32px;
        margin: Functions.spacing(3);
    }

    .amount {
      position: absolute;
      right: Functions.spacing(3);
      margin-right: Functions.spacing(1);
    }
    .icon {
      transform: rotate(180deg);
    }
}

.collapsible_container_contracted {
  @extend .collapsible_container;
  & svg {
    transform: rotate(-90deg);
  }
}

 .collapsible_inside_button {
     font-size: 15px;
 }