@use '../Button/Button.module.scss';
@use '../../styles/constants.scss' as const;

.z_button2 {
  @extend .z_button;
  background-color: const.$sidebarBackground;
  text-align: left;
  border-radius: 6px;
  padding: 12px;
  min-width: 250px;
  max-width: 250px;
  white-space: nowrap;
}
