@use '../../../styles/constants' as const;
@use '../../../styles/functions';
@use '../../../styles/mixins';

.z_table {
  width: 100%;
  border-spacing: 0;
  //font-size: 1rem;
  //font-weight: 400;

  .z_table_head {
    text-transform: uppercase;
    font-weight: unset;
    text-align: left;
    padding: 0 functions.spacing(2) 0 0;
    border: 1px none const.$page-light-border-color;
    border-bottom-style: solid;

    &[data-type='numeric'] {
      text-align: right;
    }

    &[data-type='other'] {
      text-align: center;
      padding-right: 0;
      padding-left: functions.spacing(2);
    }
  }

  .z_table_cell {
    border: 1px none const.$page-light-border-color;
    border-bottom-style: solid;
    padding: 0 functions.spacing(2) 0 0;

    &[data-type='numeric'] {
      text-align: right;
    }

    &[data-type='other'] {
      text-align: center;
      padding-right: 0;
      padding-left: functions.spacing(2);
      width: functions.spacing(0);
    }

    .c_table_assign_input {
      width: 40%;
      min-height: 0.1rem;
      height: 1.5rem;
    }
  }

  .z_table_expansible_row {
    background-color: const.$page-darker-background-color;
  }

  %z_table_row {
    height: 40px;
    user-select: none;
    cursor: pointer;
    font-size: 0.8rem;
  }

  .z_table_row_unselected {
    @extend %z_table_row;
  }
  .z_table_row_selected {
    @extend %z_table_row;
    background-color: const.$selection-color;
    cursor: text;
  }
}

.c_table_add_button {
  visibility: hidden;
}

.c_table_row:hover .c_table_add_button {
  visibility: visible;
}
