# budget server
BUDGET_SERVER_PORT=3010

# mongo server
MONGO_SERVER=mongo# or localhost
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=example
MONGO_INITDB_DATABASE=ztools
MONGO_AUTH_SOURCE=admin
MONGO_PORT=27017

# mongo express server
MONGO_EXPRESS_PORT=8081

# supabase data
SUPABASE_URL=https://vglfdkapzwnkxsdehqsv.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZnbGZka2Fwendua3hzZGVocXN2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE2ODQ3OTk5NTMsImV4cCI6MjAwMDM3NTk1M30.ebyAo7Ii-hL5KFRMqgJR3IZd4DfKeBF1SDXHt3XOKJ8
