@use '../../styles/constants' as const;
@use '../../styles/functions';
@use '../../styles/mixins';

.delete_subcategory_modal_title {
  display: flex;
  padding: functions.spacing(2);
  align-items: center;
  justify-content: space-between;
  border-bottom: const.$page-light-border-color 1px solid;
  height: 3rem;

  .delete_subcategory_modal_cancel_button {
    color: const.$primary-color;
    padding: 0;
    margin-right: -(functions.spacing(1));
    & > svg {
      height: 1.5rem;
    }
  }

  .title_text {
    flex-grow: 1;
    text-align: left;
    //margin-left: 1.5rem;
  }
}

.delete_subcategory_modal_form_body {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding: functions.spacing(2);

  .disclaimer_text {
    margin-bottom: functions.spacing(1);
    width: 28rem;
  }

  .select_text {
    margin-top: functions.spacing(1);
    margin-bottom: functions.spacing(1);
  }

  .select_subcategory {
    margin-bottom: functions.spacing(2);
    width: 100%;
  }

  .delete_subcategory_form_footer_buttons {
    display: flex;
    justify-content: flex-end;

    & > button:last-child {
      margin-left: functions.spacing(1);
    }

    .delete_subcategory_form_footer_delete_button {
      box-shadow: 0 0 0 1px const.$page-light-border-color;
      color: const.$delete-button-color;

      &:hover {
        background-color: const.$delete-button-color;
        color: const.$secondary-text-color;
      }

      &:focus {
        background-color: const.$delete-button-color;
        color: const.$secondary-text-color;
      }

      &:focus-visible {
        background-color: const.$delete-button-color;
        color: const.$secondary-text-color;
      }
    }
  }
}
