@use 'sass:color';

$grid-size: 8;
$primary-color: #4495d7;
$dark-primary-color: #25384f;
$light-primary-color: #a8d8f0;
$secondary-color: rgb(255 255 255 / 15%);
$bold-text-color: #383e41;
$text-color: #636366;
$secondary-text-color: #fff;
$dark-secondary-text-color: color.adjust($secondary-text-color, $lightness: -20%);
$sidebar-background: #244564;
$dark-sidebar-background: #25384f;
$light-positive-background-color: #cdea9f;
$positive-background-color: #6d9f38;
$dark-positive-background-color: #324412;
$light-negative-background-color: #f49e8b;
$dark-negative-background-color: #932810;
$radius: 5px;
$page-darker-background-color: #f5f5fa;
$page-light-background-color: #fff;
$page-light-border-color: #d1d1d6;
$selection-color: #d8e9f7;
$budget-page-button: #e6e5eb;

// breakpoints

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);
