$gridSize: 8;

$primaryColor: #4495d7;
$darkPrimaryColor: #25384f;
$lightPrimaryColor: #a8d8f0;

$secondaryColor: rgba(255, 255, 255, 0.15);

$boldTextColor: #383e41;
$textColor: #636366;

$secondaryTextColor: #ffff;
$darkSecondaryTextColor: darken(#ffff, 20);

$sidebarBackground: #244564;
$darkSidebarBackground: #25384f;

$lightPositiveBackgroundColor: #cdea9f;
$positiveBackgroundColor: #6d9f38;
$darkPositiveBackgroundColor: #324412;

$radius: 5px;

// breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);
