@use 'sass:color';

$grid-size: 8;
$primary-color: #4495d7;
$dark-primary-color: #25384f;
$light-primary-color: #a8d8f0;
$secondary-color: rgb(255 255 255 / 15%);
$bold-text-color: #383e41;
$text-color: #636366;
$secondary-text-color: #ffff;
$dark-secondary-text-color: color.adjust($secondary-text-color, $lightness: -20);
$sidebar-background: #244564;
$dark-sidebar-background: #25384f;
$light-positive-background-color: #cdea9f;
$positive-background-color: #6d9f38;
$dark-positive-background-color: #324412;
$radius: 5px;

// breakpoints

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);