@use 'functions';
@use 'constants';

@mixin box-shadow($color) {
  box-shadow: 0 0 0 1px $color;
}

@mixin remove-default-button {
  outline: none;
  border: none;
  padding: functions.spacing(1);
  cursor: pointer;
}

@mixin remove-default-input {
  border-style: solid;
  outline: none;
  padding: functions.spacing(1);
}

@mixin media-breakpoint-up($name, $breakpoints: constants.$grid-breakpoints) {
  $min: functions.breakpoint-min($name, $breakpoints);

  @if $min {
    @media (min-width: $min) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin font-size-variant($coefficient) {
  &.small {
    font-size: #{$coefficient * 0.8}rem;
  }

  &.normal {
    font-size: #{$coefficient}rem;
  }

  &.large {
    font-size: #{$coefficient * 1.12}rem;
  }
}
