@use '../../styles/constants.scss' as const;
@use '../../styles/mixins' as mixin;
@use '../../styles/functions';

%z-button {
  border: none;
  outline: none;
  padding: functions.spacing(1);
  color: const.$bold-text-color;

  &:hover {
    cursor: pointer;
  }

  &.variant_icon {
    background: none;
    border-radius: const.$radius;

    &:focus-visible {
      @include mixin.box-shadow(const.$primary_color);
    }
  }

  &.variant_transparent {
    background: transparent;
    padding: functions.spacing(1.5) 0 functions.spacing(1.5);

    &[data-active='true'] {
      border-bottom: const.$primary-color 0.25rem solid;
    }
  }
}

.variant_primary {
  background-color: const.$secondary-color;
  color: const.$secondary-text-color;
  border-radius: const.$radius;

  &:focus-visible {
    background-color: const.$dark-primary-color;

    @include mixin.box-shadow(const.$light_primary_color);
  }

  &:active {
    @include mixin.box-shadow(const.$light-primary-color);
  }

  &:hover {
    background-color: const.$dark-primary-color;
  }
}

.z_icon_button {
  outline: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: const.$dark-secondary-text-color;
  padding: functions.spacing(1);
  font-size: 2rem;
  display: inline-flex;
  align-items: center;
  border-radius: const.$radius;
  margin: 2px;

  &:hover {
    color: const.$secondary-text-color;
  }

  &:focus-visible {
    @include mixin.box-shadow(const.$light-primary-color);
  }
}

.z_sidebar_button {
  @include mixin.remove-default-button;

  background-color: transparent;
  display: inline-flex;
  width: 100%;
  column-gap: functions.spacing(1);
  justify-content: left;
  align-items: center;
  color: const.$secondary-text-color;
  border-radius: const.$radius;
  padding: functions.spacing(1);

  &[data-active='true'] {
    background-color: const.$primary-color;

    &:hover {
      background-color: const.$primary-color;
      cursor: pointer;
    }

    &:focus-visible {
      background-color: const.$primary-color;

      @include mixin.box-shadow(const.$light-primary-color);
    }
  }

  &:focus-visible {
    background-color: const.$dark-primary-color;

    @include mixin.box-shadow(const.$light-primary-color);
  }

  &:active {
    @include mixin.box-shadow(const.$light-primary-color);
  }

  &:hover {
    background-color: const.$dark-primary-color;
  }
}

.z_button {
  @extend %z-button;
}

.z_button_primary {
  @extend %z-button;
}

.z_button_round {
  border-radius: 50%;
}

.collapsible_main_button {
  @include mixin.remove-default-button;

  background-color: transparent;
  width: 100%;
  border: none;
  color: white;
  text-align: left;
  border-radius: const.$radius;

  &:focus-visible {
    @include mixin.box-shadow(const.$light-primary-color);
  }

  &:active {
    @include mixin.box-shadow(const.$light-primary-color);
  }

  &:hover {
    cursor: pointer;
  }
}

%edit_buttons_focus-visible_active_hover {
  &:focus-visible {
    background-color: const.$dark-primary-color;

    @include mixin.box-shadow(const.$dark-primary-color);

    color: const.$secondary-text-color;
  }

  &:active {
    background-color: const.$dark-primary-color;

    @include mixin.box-shadow(const.$dark-primary-color);

    color: const.$secondary-text-color;
  }

  &:hover {
    background-color: const.$dark-primary-color;

    @include mixin.box-shadow(const.$dark-primary-color);

    color: const.$secondary-text-color;
  }
}

.z_button_unfilled {
  &.variant_normal {
    @include mixin.remove-default-button;
    @include mixin.box-shadow(const.$primary-color);

    background: none;
    border: none;
    border-radius: const.$radius;
    color: const.$primary-color;
    width: functions.spacing(10);

    @extend %edit_buttons_focus-visible_active_hover;
  }

  &.variant_delete {
    @include mixin.remove-default-button;

    background: none;
    border: none;
    border-radius: const.$radius;
    width: functions.spacing(10);
    box-shadow: 0 0 0 1px const.$page-light-border-color;
    color: const.$delete-button-color;

    &:hover {
      background-color: const.$delete-button-color;
      color: const.$secondary-text-color;
    }

    &:focus {
      background-color: const.$delete-button-color;
      color: const.$secondary-text-color;
    }

    &:focus-visible {
      background-color: const.$delete-button-color;
      color: const.$secondary-text-color;
    }
  }
}

.z_button_save {
  @include mixin.remove-default-button;
  @include mixin.box-shadow(const.$primary-color);

  background-color: const.$primary-color;
  border-radius: const.$radius;
  color: const.$secondary-text-color;
  width: functions.spacing(8);

  @extend %edit_buttons_focus-visible_active_hover;
}

.z_utility_button {
  display: inline-flex;
  color: const.$primary-color;
  column-gap: functions.spacing(0.5);
  justify-content: left;

  //align-items: center;

  &:hover {
    color: const.$dark-primary-color;
  }

  &:focus-visible {
    @include mixin.box-shadow(const.$primary-color);
  }
}

.text_button {
  @include mixin.remove-default-button;

  background-color: transparent;
  padding: 0;
  margin: 0;
  color: const.$bold-text-color;
  border-radius: const.$radius;

  &:focus-visible {
    @include mixin.box-shadow(const.$primary_color);
  }
}

.variant_underline {
  &:hover {
    text-decoration: underline;
  }
}
