@use '../../styles/constants.scss' as Const;
@use '../../styles/mixins' as Mixin;
@use '../../styles/functions' as Function;

.z_button {
  background-color: Const.$secondaryColor;
  color: Const.$secondaryTextColor;
  border-radius: Const.$radius;
  border: none;
  padding: Function.spacing(1);
  outline: none;
  //clip-path: polygon(50% 0%, 0% 100%, 100% 100%);

  &:focus-visible {
    background-color: Const.$darkPrimaryColor;
    @include Mixin.box-shadow(Const.$lightPrimaryColor);
  }
  &:active {
    @include Mixin.box-shadow(Const.$lightPrimaryColor);
  }
  &:hover {
    background-color: Const.$darkPrimaryColor;
    cursor: pointer;
  }
}

.z_icon_button {
  outline: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: Const.$darkSecondaryTextColor;
  padding: Function.spacing(1);
  font-size: 2rem;
  display: inline-flex;
  align-items: center;

  &:hover {
    color: Const.$secondaryTextColor;
  }
}

.z_sidebar_button {
  @include Mixin.remove-default-button;
  background-color: transparent;
  display: inline-flex;
  width: 100%;
  justify-content: left;
  color: Const.$secondaryTextColor;
  border-radius: Const.$radius;
  padding: Function.spacing(2);

  &[data-active='true'] {
    background-color: Const.$primaryColor;
    &:hover {
      background-color: Const.$primaryColor;
      cursor: pointer;
    }
  }

  &:focus-visible {
    background-color: Const.$darkPrimaryColor;
    @include Mixin.box-shadow(Const.$lightPrimaryColor);
  }
  &:active {
    @include Mixin.box-shadow(Const.$lightPrimaryColor);
  }
  &:hover {
    background-color: Const.$darkPrimaryColor;
    cursor: pointer;
  }
}

.z_button_primary {
  @extend .z_button;
}

.z_button_round {
  border-radius: 50%;
}
